{% extends 'H2O_Portal/base.html' %}

{% block ListCompleted %}
  <div class="posttables">
    <table>
      <thead>
        <p class="postheader">Completed Posts</p>
        <tr>
          <th>Message</th>
          <th>Picture</th>
          <th>Post Time</th>
          {% comment %} <th>Facebook?</th> {% endcomment %}
          <th>GroupMeGroups</th>
          <th>Scheduled by</th>
        </tr>
      </thead>
      <tbody>
        {% for post in Posts %}
          <tr>
            {% if post.completed == True %}
            <td>{{ post.message }}</td>
            {% if post.picture.url != None %}
            <td><img src="{{ post.picture.url }}" alt="Picture unavailable" width="75" height="75"/></td>
            {% else %}
            {% comment %} <td>{{ post.Facebook }}</td> {% endcomment %}
            {% if post.GroupMeGroups == None %}
            <td></td>
            {% else %}
            <td>{{ post.GroupMeGroups }}</td>
            {% endif %} 
            <td>{{ post.updated_by }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if Posts.has_other_pages %}
    <ul class="pagination">
      
      {% if Posts.has_previous %}
        <li class="paginate"><a href="?page={{ Posts.previous_page_number }}">&laquo;</a></li>
      {% else %}
        {% comment %} on first {% endcomment %}
      {% endif %}

      {% for i in Posts.paginator.page_range %}
        {% if Posts.number == i %}
          <li class="paginate"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="paginate"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      
      {% if Posts.has_next %}
        <li class="paginate"><a href="?page={{ Posts.next_page_number }}">&raquo;</a></li>
      {% else %}
        {% comment %} on last {% endcomment %}
      {% endif %}
    </ul>
    {% endif %}
  </div>
{% endblock ListCompleted %}